<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="vssdk" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk/nuget/v3/index.json" />
    <!-- Required for Microsoft.VisualStudio.Platform.VSEditor package -->
    <add key="vs-impl" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-impl/nuget/v3/index.json" />
    <add key="vs-impl-archived" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-impl-archived/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <packageSourceMapping>
    <clear />
    
    <packageSource key="dotnet-public">
      <package pattern="BasicUndo" />
      <package pattern="Castle.Core" />
      <package pattern="MessagePack" />
      <package pattern="MessagePack.Annotations" />
      <package pattern="MicroBuild.Core" />
      <package pattern="Microsoft.Bcl.AsyncInterfaces" />
      <package pattern="Microsoft.Build.Framework" />
      <package pattern="Microsoft.CodeCoverage" />
      <package pattern="Microsoft.CSharp" />
      <package pattern="Microsoft.IO.Redist" />
      <package pattern="Microsoft.NET.StringTools" />
      <package pattern="Microsoft.NET.Test.Sdk" />
      <package pattern="Microsoft.NETCore.Platforms" />
      <package pattern="Microsoft.NETCore.Targets" />
      <package pattern="Microsoft.ServiceHub.Analyzers" />
      <package pattern="Microsoft.ServiceHub.Framework" />
      <package pattern="Microsoft.ServiceHub.Resources" />
      <package pattern="Microsoft.TestPlatform.ObjectModel" />
      <package pattern="Microsoft.VisualStudio.ComponentModelHost" />
      <package pattern="Microsoft.VisualStudio.Composition" />
      <package pattern="Microsoft.VisualStudio.Composition.Analyzers" />
      <package pattern="Microsoft.VisualStudio.CoreUtility" />
      <package pattern="Microsoft.VisualStudio.Editor" />
      <package pattern="Microsoft.VisualStudio.Extensibility.Editor.Contracts" />
      <package pattern="Microsoft.VisualStudio.GraphModel" />
      <package pattern="Microsoft.VisualStudio.ImageCatalog" />
      <package pattern="Microsoft.VisualStudio.Imaging" />
      <package pattern="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" />
      <package pattern="Microsoft.VisualStudio.Language" />
      <package pattern="Microsoft.VisualStudio.Language.Intellisense" />
      <package pattern="Microsoft.VisualStudio.Language.StandardClassification" />
      <package pattern="Microsoft.VisualStudio.ProjectAggregator" />
      <package pattern="Microsoft.VisualStudio.RemoteControl" />
      <package pattern="Microsoft.VisualStudio.RpcContracts" />
      <package pattern="Microsoft.VisualStudio.SDK.Analyzers" />
      <package pattern="Microsoft.VisualStudio.Shell.15.0" />
      <package pattern="Microsoft.VisualStudio.Shell.Framework" />
      <package pattern="Microsoft.VisualStudio.Telemetry" />
      <package pattern="Microsoft.VisualStudio.Text.Data" />
      <package pattern="Microsoft.VisualStudio.Text.Logic" />
      <package pattern="Microsoft.VisualStudio.Text.UI" />
      <package pattern="Microsoft.VisualStudio.Text.UI.Wpf" />
      <package pattern="Microsoft.VisualStudio.Threading" />
      <package pattern="Microsoft.VisualStudio.Threading.Analyzers" />
      <package pattern="Microsoft.VisualStudio.Utilities" />
      <package pattern="Microsoft.VisualStudio.Utilities.Internal" />
      <package pattern="Microsoft.VisualStudio.Validation" />
      <package pattern="Microsoft.VSSDK.BuildTools" />
      <package pattern="Microsoft.VsSDK.CompatibilityAnalyzer" />
      <package pattern="Microsoft.Win32.Registry" />
      <package pattern="Moq" />
      <package pattern="Nerdbank.Streams" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="System.*" />
      <package pattern="vswhere" />
      <package pattern="xunit.*" />
    </packageSource>

    <packageSource key="dotnet-eng">
      <package pattern="MicroBuild.Core.Sentinel" />
      <package pattern="Microsoft.DiaSymReader.Pdb2Pdb" />
      <package pattern="Microsoft.DotNet.Arcade.Sdk" />
      <package pattern="Microsoft.DotNet.Build.Tasks.Feed" />
      <package pattern="Microsoft.DotNet.Build.Tasks.VisualStudio" />
      <package pattern="Microsoft.DotNet.Maestro.Tasks" />
      <package pattern="Microsoft.DotNet.NuGetRepack.Tasks" />
      <package pattern="Microsoft.DotNet.SignTool" />
      <package pattern="Microsoft.DotNet.SourceBuild.Tasks" />
      <package pattern="Microsoft.DotNet.Tar" />
      <package pattern="Microsoft.DotNet.XliffTasks" />
      <package pattern="Microsoft.Signed.Wix" />
      <package pattern="Microsoft.SymbolUploader.Build.Task" />
      <package pattern="Microsoft.VisualStudioEng.MicroBuild.Plugins.SwixBuild" />
      <package pattern="sn" />
    </packageSource>
    
    <packageSource key="vssdk">
      <package pattern="Microsoft.VisualStudio.Interop" />
      <package pattern="StreamJsonRpc" />
    </packageSource>
    
    <packageSource key="vs-impl">
      <package pattern="Microsoft.VisualStudio.Platform.VSEditor" />
      <package pattern="Microsoft.VisualStudio.Text.Internal" />
    </packageSource>
  </packageSourceMapping>
</configuration>
